/**
 * The app configuration
 */
module.exports = {

    /**
     * The wiki file to use
     */
    wikiFile: __dirname + '/test.html',

    /**
     * The color of the tray icon
     * Possible values: light, dark
     */
    trayIconColor: 'light',

    /**
     * Open the wiki on startup
     */
    openWikiOnStart: false,

    /**
     * Hide wiki instead of closing it
     */
    hideOnClose: false
}